<template name="post_edit">
  <div class="grid submit">
    {{#with post}}{{#constant}}
      <form class="grid-block form-horizontal">
        <div class="control-group">
          <label class="control-label post-form-headline">{{i18n "Created"}}</label>
          <div class="controls"><p>{{created}}</p></div>
        </div>
        <div class="control-group">
          <label class="control-label post-form-headline">{{i18n "Title"}}</label>
          <div class="controls"><input id="title" type="text" value="{{headline}}" /></div>
        </div>
        <div class="control-group">
          <label class="control-label post-form-url">{{i18n "URL"}}</label>
          <div class="controls"><input id="url" type="text" value="{{url}}" /></div>
        </div>
        {{#if shorten}}
        <div class="control-group">
          <label class="control-label post-form-url">{{i18n "Short URL"}}</label>
          <div class="controls"><input id="short-url" type="text" value="{{shortUrl}}" /></div>
        </div>
        {{/if}}
        <div class="control-group">
          <label class="control-label post-form-body">{{i18n "Body"}}</label>
          <div class="controls" id="editor"><textarea id="body" value="" class="input-xlarge">{{body}}</textarea></div>
        </div>
        <div class="control-group">
           <label class="control-label">Location</label>
           {{#constant}}<div id="location-picker" class="controls" style="height: 400px"></div>{{/constant}}
           <div class="controls"><input id="locLat" type="hidden" value="" /></div>
           <div class="controls"><input id="locLong" type="hidden" value="" /></div>
        </div>
        <div class="control-group post-form-category">
          <label class="control-label">{{i18n "Categories"}}</label>
          <div class="controls">
            {{#each categories}}
            <label class="radio inline">
              <input id="category_{{_id}}" type="checkbox" value="{{_id}}" name="category" {{checked}} /> {{name}}
            </label>
            {{/each}}
          </div>
        </div>
        {{#if isAdmin}}
          <div class="control-group post-form-sticky">
            <label class="control-label">{{i18n "Inactive?"}}</label>
            <div class="controls">
              {{inactive}}
            </div>
          </div>
          <div class="control-group post-form-sticky">
            <label class="control-label">{{i18n "Sticky?"}}</label>
            <div class="controls">
              <input type="checkbox" name="sticky" id="sticky" {{isSticky}} />
            </div>
          </div>
          {{#if isApproved}}
          <div class="control-group">
            <label class="control-label post-form-date">{{i18n "Submission Date"}}</label>
            <div class="controls"><input id="submitted_date" type="text" value="{{submittedDate}}" /></div>
            <input id="submitted_hidden" type="hidden" value="{{submitted}}" />
          </div>
          <div class="control-group">
            <label class="control-label post-form-time">{{i18n "Submission Time"}}</label>
            <div class="controls"><input id="submitted_time" type="text" value="{{submittedTime}}" /></div>
          </div>
          {{else}}
          <div class="control-group">
            <label class="control-label post-form-timestamp">{{i18n "Submission"}}</label>
            <div class="controls">
              <p>{{i18n "Note: this post is still pending so it has no submission timestamp yet."}}</p>
            </div>  
          </div>
          {{/if}}
          <div class="control-group post-form-user">
            <label class="control-label">{{i18n "User"}}</label>
            <div class="controls">
              <select id="postUser">
                {{#each users}}
                  <option {{isSelected}} value="{{_id}}">{{userName}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="control-group post-form-status">
            <label class="control-label">{{i18n "Status"}}</label>
            <div class="controls">
              <label class="radio inline">
                <input id="status_pending" type="radio" value="1" name="status" {{hasStatusPending}} /> {{i18n "Pending"}}
              </label>
              <label class="radio inline">
                <input id="status_approved" type="radio" value="2" name="status" {{hasStatusApproved}} /> {{i18n "Approved"}}
              </label>
              <label class="radio inline">  
                <input id="status_rejected" type="radio" value="3" name="status" {{hasStatusRejected}} /> {{i18n "Rejected"}}
              </label>
            </div>
          </div>
        {{/if}}
        <div class="form-actions">
          <a class="delete-link" href="/posts/deleted">{{i18n "Delete Post"}}</a>
          <input type="submit" value="{{i18n "Submit"}}" />
        </div>
      </form>
    {{/constant}}{{/with}}
  </div>
</template>
