<template name="post_submit">
  <div class="grid submit">

  {{#if catId}}

    <form class="grid-block form-horizontal">
      {{#constant}}
      <div class="control-group">
        <label class="control-label">{{i18n "URL"}}</label>
        <div class="controls"><input id="url" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Title"}}</label>
        <div class="controls"><input id="title" type="text" value="" /><a href="#" class="get-title-link inline-link">{{i18n "Suggest title"}}</a></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Body"}}</label>
        <div class="controls" id="editor"><textarea id="body" value="" class="input-xlarge"/></div>
      </div>
      <div class="control-group">
        <label class="control-label">Location</label>
         {{#constant}}<div id="location-picker" class="controls" style="height: 400px"></div>{{/constant}}
        <div class="controls"><input id="locLat" type="hidden" value="" /></div>
        <div class="controls"><input id="locLong" type="hidden" value="" /></div>
        <label class="control-label"></label>
        <div class="controls">
          <label class="radio inline">
            <input id="category_{{catId}}" type="radio" value="{{catId}}" name="category" style="display: none" checked="checked" />
          </label>
        </div>
      </div>
      
      {{/constant}}
      {{#if isAdmin}}
        {{#constant}}
        <div class="control-group">
          <label class="control-label">{{i18n "Sticky?"}}</label>
          <div class="controls">
            <input type="checkbox" name="sticky" id="sticky" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">{{i18n "Date"}}</label>
          <div class="controls"><input id="submitted" type="text" value="{{submittedDate}}" /><input id="submitted_hidden" type="hidden" value="{{submitted}}" /></div>
        </div>
        <div class="control-group">
          <label class="control-label">{{i18n "User"}}</label>
          <div class="controls">
            <select id="postUser">
              {{#each users}}
              <option {{#if isSelected}}selected{{/if}} value="{{_id}}">{{userName}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">{{i18n "Status"}}</label>
          <div class="controls">
            <label class="radio inline">
              <input id="status_pending" type="radio" value="1" name="status"/> {{i18n "Pending"}}
            </label>
            <label class="radio inline">
              <input id="status_approved" type="radio" value="2" name="status" checked /> {{i18n "Approved"}}
            </label>
            <label class="radio inline">  
              <input id="status_rejected" type="radio" value="3" name="status"/> {{i18n "Rejected"}}
            </label>
          </div>
        </div>
        {{/constant}} 
      {{/if}}
      <div class="form-actions">
        <input type="submit" value="{{i18n "Submit"}}" />
      </div>
    </form>
  {{else}}
    <div class="cat-selector">
      <h2 class="big">What type of post is this?</h2>
      <div class="grid more-button">
        <h2><a class="more-link" href="/submit/news">a news article</a></h2>
      </div>
      <div class="grid more-button">
        <h2><a class="more-link" href="/submit/events">an event</a></h2>
      </div>
      <div style="clear:both"></div>
      <div class="grid more-button">
        <h2><a class="more-link" href="/submit/causes">a group-funding effort</a></h2>
      </div>
      <div class="grid more-button">
        <h2><a class="more-link" href="/submit/pics">an image</a></h2>
      </div>
      <div style="clear:both"></div>
      <div class="grid more-button">
        <h2><a class="more-link" href="/submit/vids">a video</a></h2>
      </div>
      <div class="grid more-button">
        <h2><a class="more-link" href="/submit/stories">a blog post</a></h2>
      </div>
      <div style="clear:both"></div>
    </div>
  {{/if}}
  </div>
</template>
